* {
    margin: 0;
    padding: 0px;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #fff, #c3f5ff);
}

.navsection {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav,
a {
    Padding: 20px;
    Text-decoration: none;
    text-transform: Uppercase;
    position: relative;
    color: black;
    font-weight: 800;
}

a:hover {
    background-color: rosybrown;
}

main {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightside img {
    max-width: 400px;
    height: auto;
}

.leftside {
    font-size: 30px;
}

button {
    font-size: 30px;
    border-radius: 30px;
}

button:hover {
    background-color: black;
    color: green;
}